* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "__Inter_e66fe9", "__Inter_Fallback_e66fe9", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --background-color: #2b2d42;
  --background-square-color: #252738;
  --background-square-hover-color: #2c2f4b;
  --lines-color: #8d99ae;
  --x-color: #3a86ff;
  --c-color: #ff6700;
  --title-color: #cee0ff;
  --win-color: #00ff6a;
  --draw-color: #fcff50;
  --looser-color: red;
  --gold-color: #efb810;
}

body {
  background-color: var(--background-color);
}

h1 {
  text-align: center;
  color: var(--title-color);
  line-height: 1;
}

button {
  background: none;
  border: none;
  border-style: none;
}

#message {
  text-align: center;
  line-height: 1;
}

.x-color {
  color: var(--x-color);
}

.c-color {
  color: var(--c-color);
}

.win-color {
  color: var(--win-color);
}
.draw-color {
  color: var(--draw-color);
}
.looser-color {
  color: var(--looser-color);
}
.golden-color {
  color: var(--gold-color) !important;
}

.container {
  display: flex;
  height: 100vh;
}

.margin-auto {
  margin: auto;
}

.margin-bottom {
  margin-bottom: 15px;
}

#ticTacToe {
  width: 450px;
  height: 450px;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;

  background-color: var(--background-square-color);
}

.square {
  display: flex;
  margin: -1px;
}

.normal-border {
  border: solid 1px var(--lines-color);
}
.win-border {
  border: solid 1px var(--win-color);
}
.draw-border {
  border: solid 1px var(--draw-color);
}
.looser-border {
  border: solid 1px var(--looser-color);
}
.golden-border {
  border: solid 1px var(--gold-color) !important;
}

.pointer:hover {
  background-color: var(--background-square-hover-color);
  cursor: pointer;
}

.svg {
  width: 90%;
  height: 90%;

  margin: auto;
}

.options {
  display: flex;
  justify-content: space-between;

  margin-top: 15px;
}

.button {
  background-color: var(--background-square-color);
  color: var(--title-color);
  width: 40%;

  font-weight: bold;
  font-size: 1.5rem;

  border: solid 1px var(--lines-color);
  padding: 7px 0;

  transition: 0.1s;
  cursor: pointer;
}

#modeButton:hover:enabled {
  border: solid 3px var(--draw-color);
  padding: 0;
}

#modeButton:hover:enabled > span {
  color: var(--draw-color);
}

#modeButton:disabled {
  background-color: #13141d;
  color: #646d7e;
  border: solid 1px #525a66;

  cursor: not-allowed;
}

#resetButton:hover {
  transform: translate(-3px, -3px);
  box-shadow: 3px 3px;
}

@keyframes normalAnimation {
  0% {
    background-color: var(--background-square-color);
    transform: translate(0px, 0px);
    box-shadow: 0px 0px;
  }
  25% {
    background-color: var(--background-square-hover-color);
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px;
  }
  50% {
    background-color: var(--background-square-color);
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px;
  }
  75% {
    background-color: var(--background-square-hover-color);
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px;
  }
  100% {
    background-color: var(--background-square-color);
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px;
  }
}

@keyframes goldenAnimation {
  0% {
    background-color: var(--background-square-color);
    transform: translate(0px, 0px);
    box-shadow: 0px 0px;
  }
  25% {
    background-color: var(--background-square-hover-color);
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px;
  }
  50% {
    background-color: var(--background-square-color);
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px;
    color: var(--gold-color);
  }
  75% {
    background-color: var(--background-square-hover-color);
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px;
  }
  100% {
    background-color: var(--background-square-color);
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px;
    color: var(--gold-color);
  }
}

@keyframes changeAnimation {
  0% {
    transform: skew(0deg, 0deg) scale(1.0);
  }
  50% {
    transform: skew(45deg, 45deg) scale(0.5);
  }
  100% {
    transform: skew(0deg, 0deg) scale(1.11);
  }
}

@keyframes goldenShadow {
  0% {
    box-shadow: 0px 0px 0px transparent;
  }
  30% {
    box-shadow: 0px 0px 0px transparent;
  }
  100% {
    box-shadow: 0px 0px 10px var(--gold-color);
  }
}

.animate {
  animation: normalAnimation 0.8s linear forwards;
}

.golden {
  animation: goldenAnimation 0.8s linear forwards;
}

.golden > div {
  animation: changeAnimation 0.8s linear forwards;
}

.golden > div > svg {
  animation: goldenShadow 0.8s linear forwards;
}

.position-relative {
  position: relative;
}

.game-options {
  display: inline-block;
}

.svg-button-container {
  width: 25px;
  height: 25px;

  transition: 0.1s;
  border-radius: 50%;

  background: rgba(0,0,0,0);
  padding: 2.5px;
}

.svg-button-container > svg {
  width: 100%;
  height: 100%;
}

.svg-button-container:enabled > svg .si-glyph-fill {
  fill: var(--lines-color);
}

.svg-button-container:disabled {
  cursor: not-allowed;
}
.svg-button-container:disabled > svg .si-glyph-fill {
  fill: #525a66;
}

.svg-button-container:enabled:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: rgba(255,255,255,0.2);
}

#computerStartsButton {
  display: none;
}

@media screen and (max-width: 576px){
  #ticTacToe {
    width: 300px;
    height: 300px;
  }
  
  .options {
    flex-direction: column-reverse;
    align-items: center;
  }

  .button {
    width: 65%;
    margin-bottom: 15px;
  }
}
